<%- include("../partials/header") %>

<section class="container">
  <h1>Order Details</h1>

  <div id="orderInfo"></div>

  <h2>Status: <span id="orderStatus"></span></h2>

  <h2>Items</h2>
  <div id="orderItems" class="grid"></div>
</section>

<%- include("../partials/footer") %>

<script src="/js/orderDetails.js"></script>