<%- include("../partials/header") %>

<section class="container">
  <h1>Your Orders</h1>

  <div id="ordersList"></div>
</section>

<%- include("../partials/footer") %>

<script src="/js/orders.js"></script>