<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>

  <link rel="stylesheet" href="/css/main.css" />

  <!-- GLOBAL AUTH SCRIPT -->
  <script defer src="/js/global.js"></script>
</head>

<body>

<%- include("navbar") %>